.profile {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  outline: 1px solid grey;
  width: 300px;
  margin: auto;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  justify-content: space-around;
}
